<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
</head>

<body style="background-color: #c0c880; margin-left: 4%; margin-right: 4%; margin-top: 3%">

<!--Navigacija-->
<div th:insert="navbar :: #navLoggedin"></div>

<!--Kontent Tabele notova-->
<div>
    <table class="table" style="position: relative">
        <thead>
        <tr>
            <th>#No.</th>
            <th>Title</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="UserNote,IterStats : ${notesList}">
            <td th:text="${IterStats.count}"></td>
            <td>
                <a th:text="${UserNote.title}" th:href="@{'/EditNote/' + ${UserNote.id}}"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>